#
# IntelliJ
#
.idea/
*.iml

#
# Eclipse
#
.settings
.project
.classpath
bin/

#
# Mac OS
#
.DS_Store

#
# Maven
#
.mvn/wrapper/maven-wrapper.jar
target/

#
# Vaadin
#
node/
node_modules/
package.json
package-lock.json
.npmrc
.pnpmfile.cjs
pnpm-lock.yaml
types.d.ts
tsconfig.json
vite.config.ts
vite.generated.ts
webpack.config.js
webpack.generated.js
frontend/generated/
frontend/index.html
/src/main/dev-bundle/
/src/main/bundles/
